/*Убираем стрелки у элементов подменю*/

aside nav ul li ul li:hover:after {
	display: none;
}

/*Скрываем выпадающее меню*/

aside nav ul li ul {
	display: none;
	position: absolute;
	width: 19em;
	height: 100%;
	top: 0;
	left: 4.8em;
	background-color: #e1dcdc;
	list-style-type: none;
	padding: 0 0.4em 0 0.4em;
	/*new*/
	z-index: 10; 
}

aside nav ul li.catalog:hover ul, aside nav ul li.cart:hover ul {
	position: absolute;
	display: block;
	/*z-index: 9;*/
	z-index: 10;
}

aside nav ul li ul h2 {
	text-align: center;
	font-size: 1.5em;
	padding: 2.5em 0 0.5em 0;
	border-bottom: 0.1em solid #cbc7c7;
}

aside nav ul li ul li {
	padding: 0;
	margin: 0;
	/*ликвидируем свойство высоты для главного меню с картинками-элементами*/
	height: auto;
	text-align: left;
	font-size: 1.2em;
	padding: 0.4em 0 0.4em 1.1em;
	border-bottom: 0.15em solid #cbc7c7;
}

aside nav ul li ul li a {
	text-decoration: none;
	color: #000000;
}

aside nav ul li ul li a:hover {
	color: #676767;

	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}